<%- include('./includes/head', { pageTitle: '403-Error' }) %>
  <link rel="stylesheet" href="/styles/error.css">
</head>
<body>
  <%- include('./includes/header') %>
  <main>
    <div class="container">
      <h1>未經授權 - 拒絕存取</h1>
      <a href="/"><p>請回首頁</p></a>
    </div>
  </main>
<%- include('./includes/footer') %>